# Django
*.log
*.pot
*.pyc
__pycache__/
media/
staticfiles/
db.sqlite3

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

# Docker
.dockerignore

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Poetry
poetry.lock

# Для Windows
[Bb]in/
[Oo]bj/
[Ll]og/

test_results
